// .m-box {
//   border: 10px solid red;
//   margin: 10px;
//   padding: 10px;
//   line-height: 1.4em;
// }


.telus-logo {
	display: block;
	float: left;
}

ul {
	width: 100%;
}


nav {
	margin-bottom: 50px;
}

.hacker-channels {
	float: left;
	width: 100%;
	clear: both;

	.hacker-channels__item {
		display: inline-block;
		margin: 40px 20px;
	}
}

.hacker-nav {
	overflow: auto;
	.hacker-nav__item {
		display: block;
		float: left;
		margin-right: 5px;

		a {
			border: 1px solid #000;
			padding: 20px 0;
			background: #e1e1e1 ;
			display: block;
			text-align: center;
		}
	}
}


.hacker-products {

	.hacker-products__item {

	}	


}













